:root {
    --text: #1b1b1b;
    --bg: #f5f5dc;

    --breadcrumb-text: #000000aa;
    --breadcrumb-bg: #00000015;

    --component-text: blue;
    --component-bg: lightblue;

    --news-bg: rgba(0, 125, 0, 0.5);
    --news-text: rgb(0, 125, 0);
}